.App header nav {
  text-align: center;
  font-size: 1.5em;
  padding-top: .5em;
  background-color: rgba(51,51,51,0.6);
  overflow: auto;
}

.App-logo{
  float: left;
}
.App header nav a:hover {
  color: white;
}

.link {
  margin: 20px 10px;
  font-family: 'Roboto', sans-serif;
  color: #d3d1d4;
  text-decoration: none;
  float: right;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.app-title {
  color: #e0d6e6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.75em;
  margin-top: .7em;
}



