.App header nav {
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(51,51,51,0.6);
  overflow: auto;
  position: fixed;
  top:0;
  width:100%;
  padding-top: 5px;
  
}

.App-logo{
  float: left;
}
.App header nav a:hover {
  color: white;
}

.link {
  margin: 20px 10px;
  font-family: 'Roboto', sans-serif;
  color: #d3d1d4;
  text-decoration: none;
  float: right;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}
.app-title {
margin-top: 2em;
  color: #e0d6e6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3.75em;
  
}



