@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

.landing{
    font-family: 'Gentium Book Basic', serif;

    text-align: center;
    color: #cacaca;
}



  .hero-title {
      color: teal;
    margin-top: 2em;
    margin-bottom: 1.5em;
  }
  
  .point-title {
    
    font-size: 2em;
   
  }
  
  .point-description {
    
    font-size: 1.25em;
  }
  .point {
  
    
    
    margin:0;
  
  
    
   
    text-shadow: .5px .5px 1px black;
  }